<!DOCTYPE html>
<html lang="en-us">
  <head>
    <meta charset="UTF-8">
    <title>Scraping People Magazine</title>

    <link rel="stylesheet" href="/assets/css/style.css" type="text/css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="./assets/js/app.js"></script>  
  </head>

  <body background="./assets/img/background2.png">  
    <div class="container">   
            {{{ body }}}        
    </div>
  </div>
  </body>
</html>
