  #wrapper {
    width: 960px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 5%;
  }
  .articles {
    background-color: #99b3ff;
    border: 5px solid #002699;
    display: inline-block;
    overflow: auto;
    width: 100%;
    height: 250px;
  } 

  .headline {
    width: 960px;
    text-align: center;
    font-size: 24px;
   } 

  #saved, #refreshed{
    float: left;
    font-size: 24px;
    width: 50%;
    height: 50px;
    background-color: #99b3ff;
    border: 3px solid #002699;
  }
   .message-added {
    float: right;
    font-size: 24px;
    width: 120px;
    height: 120px;
    background-color: white;
    border: 3px solid #002699;
  } 

  .position {
    float: right;
    font-size: 14px;
    width: 60px;
    height: 120px;
    color: white;
    background-color: #002699;
    border: 3px solid #002699;
  }

  .back {
    position: relative;
    left: 300px;
    font-size: 14px;
    width: 120px;
    height: 60px;
    background-color: white;
    border: 3px solid #002699;
  }


  #notes {
    float: right;
  }

  #note-title, #node-body {
    width: 100%;
    font-size: 18px;
  }

  .media {
    
    height: 120px;
    border: 3px solid #002699;
  }



  textarea {
    height: 200px;
    font-size: 18px;
    display: block;
    width: 100%;
    background-color: white;
  }
  input {
    height: 36px;
    font-size: 24px;
    display: block;
    width: 100%;
    background-color: white;
  }


  
  

  
  


  